.category-name{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
    margin:0px;
}


.category-text{
    padding-left: 20px;
    padding-top: 0px;
    font-style: italic;
}

.card-button {
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 15rem; /* set to 7 if there are two buttons */
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

.card-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
